*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}


.header-container{
    background-image: url(images/banner/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    background-size: cover;
    margin-bottom: 131px;
}

.header-description-wrapper{
    position: absolute;
    display: flex;
    width: 40%;
    justify-content: right;
    top: 30%;
    left: 50%;
}

.header-description{
    justify-content: center;
    overflow: hidden;
    text-align: right;
}
.header-description-title{
    font-size: 65px;
    margin-bottom: 24px;
}

.header-description-para{
    font-size: 16px;
    margin-bottom: 32px;
}

.btn-primary{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background-color: #F15B22;
    color: #fff;
    border: 0px;
    font-size: 20px;
    font-weight: 500;
}


.my-failure-container{
    display: flex;
    align-items: center;
    gap: 87px;
    justify-content: center;
    margin-bottom: 130px;
}

.my-failure-img{
    width: 569px;
    height: 723px;
}

.my-failure-detail{
    width: 416px;
    height: 400px;
    text-align: left;
}

.my-failure-title{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 24px;
    color: #151414;
}

.my-failure-para{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.my-failure-list{
    color: #444343;
    font-size: 16px;
}

.my-failure-list li{
    list-style-image: url(images/icons/checked.png);
    background-size: 50px;
    line-height: 26px;
}

.my-plans-container{
    width: 80%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 130px;
    
}

.my-plans{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.my-plans-title{
    text-align: center;
    display: block;
    margin-bottom: 55px;
    font-size: 40px;
    font-weight: 700;
}

.my-plans-item{
    text-align: center;
    margin-right: 86px;
}

.my-plans-item h1{
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.my-plans-item p{
    font-size: 25px;
}

.small-banner{
    background-image: linear-gradient(to right, rgb(241,91,34,100%), rgba(241, 93, 34, 0.050) ), url(images/watch.png);
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 130px;
    position: relative;
}

.small-banner-info{
    position: absolute;
    top: 60px;
    left: 64px;
}

.small-banner-title{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 24px;
}

.btn-secondary{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background-color: #fff;
    color: #F15B22;
    border: 0px;
    font-size: 20px;
    font-weight: 500;
}

.footer-container{
    display: flex;
    gap: 250px;
    align-items: center;
    background-color: #151414;
    width: 100%;
    height: 577px;
}

.footer-contact{
    margin-left: 230px;
}

.footer-subscribe{
    margin-right: 230px;
}

.footer-contact-title{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer-contact-description{
    color: #fff;
    font-size: 16px;
    margin-bottom: 32px;
}

.footer-subscribe-title{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 32px;
}

.footer-subscribe-email {
    width: 325px;
    height: 64px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 2px 15px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 16px;
}